<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nj.zzy.product.dao.ProductsMapper">

    <resultMap id="Product" type="org.nj.zzy.product.domain.products.Product">
        <id column="prod_id" property="uuid"/>
        <result column="prod_name" property="name"/>
        <result column="prod_price" property="price"/>
        <result column="prod_desc" property="desc"/>
        <result column="vend_id" property="vendorId"/>
    </resultMap>

    <resultMap id="ProductWithVendor" type="org.nj.zzy.product.domain.products.ProductGetVo" extends="Product">
        <association property="vendor" javaType="org.nj.zzy.product.domain.vendors.Vendor">
            <id column="vend_id" property="id"/>
            <result column="vend_name" property="name"/>
            <result column="vend_address" property="address"/>
            <result column="vend_city" property="city"/>
            <result column="vend_state" property="state"/>
            <result column="vend_zip" property="zip"/>
            <result column="vend_country" property="country"/>
        </association>
    </resultMap>


    <sql id="ProductColumn">
        prod_id, prod_name, prod_price, prod_desc, vend_id
    </sql>

    <sql id="ProductWithVendorColumn">
        p.prod_id, p.prod_name, p.prod_price, p.prod_desc, v.vend_id, v.vend_name, v.vend_address, v.vend_city, v.vend_state, v.vend_zip, v.vend_country
    </sql>

    <sql id="QueryCond">
        <where>
        <if test="name != null" >
            <choose>
                <when test="nameFuzzyQuery">
                    AND p.prod_name LIKE concat(#{name}, '%')
                </when>
                <otherwise>
                    AND p.prod_name = #{name}
                </otherwise>
            </choose>
        </if>
        <if test="desc != null" >
            <choose>
                <when test="descFuzzyQuery">
                    AND p.prod_desc LIKE concat(#{desc}, '%')
                </when>
                <otherwise>
                    AND p.prod_desc = #{desc}
                </otherwise>
            </choose>
        </if>
        <if test="maxPrice != null">
            AND p.prod_price &lt;= #{maxPrice}
        </if>
        <if test="minPrice != null">
            AND p.prod_price &gt;= #{minPrice}
        </if>
        <if test="vendorId != null">
            AND p.vend_id = #{vendorId}
        </if>
        </where>
    </sql>

    <insert id="insertSelective">
        <selectKey keyProperty="uuid" resultType="java.lang.String" order="BEFORE">
            SELECT uuid()
        </selectKey>
        INSERT INTO products
        <trim prefix="(" suffix=")" suffixOverrides=",">
                prod_id,
            <if test="name != null">
                prod_name,
            </if>
            <if test="price != null">
                prod_price,
            </if>
            <if test="desc != null">
                prod_desc,
            </if>
            <if test="vendorId != null">
                vend_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{uuid},
            <if test="name != null">
                #{name},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="desc != null">
                #{desc},
            </if>
            <if test="vendorId != null">
                #{vendorId},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective">
        UPDATE products
        <set>
            <if test="name != null">
                prod_name = #{name},
            </if>
            <if test="price != null">
                prod_price = #{price},
            </if>
            <if test="desc != null">
                prod_desc = #{desc},
            </if>
            <if test="vendorId != null">
                vend_id = #{vendorId},
            </if>
        </set>
        WHERE prod_id = #{uuid}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM products WHERE prod_id = #{uuid}
    </delete>

    <select id="selectByPrimaryKey" resultMap="Product">
        SELECT
        <include refid="ProductColumn"/>
        FROM products
        WHERE prod_id = #{uuid}
    </select>

    <select id="selectAll" resultMap="Product">
        SELECT
        <include refid="ProductColumn"/>
        FROM products p
        <include refid="QueryCond"/>
        <if test = "page != null and page.size != null">
            LIMIT #{page.size}
            <if test = "page.offset != null">
                OFFSET #{page.offset}
            </if>
        </if>
    </select>

    <select id="selectByVendorIdList" resultMap="Product">
        SELECT
        <include refid="ProductColumn"/>
        FROM products
        WHERE
        <foreach collection="vendorIdList" item="vendorId" separator="," open="vend_id in(" close=")">
            #{vendorId}
        </foreach>
    </select>

    <select id="selectByPrimaryKeyWithVendor" resultMap="ProductWithVendor">
        SELECT
        <include refid="ProductWithVendorColumn"/>
        FROM products p
        LEFT JOIN vendors v
        ON p.vend_id = v.vend_id
        WHERE p.prod_id = {uuid}
    </select>

    <select id="selectAllWithVendors" resultMap="ProductWithVendor">
        SELECT
        <include refid = "ProductWithVendorColumn"/>
        FROM products p
        LEFT JOIN vendors v
        ON p.vend_id = v.vend_id
        <include refid="QueryCond"/>
        <if test = "page != null and page.size != null">
            LIMIT #{page.size}
            <if test = "page.offset != null">
                OFFSET #{page.offset}
            </if>
        </if>
    </select>

    <select id="countAll" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM products p
        <include refid="QueryCond"/>
    </select>
</mapper>